<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <video src="ftp://192.168.2.137/aaa.mp4" controls='' autoplay='autoplay' style='max-width: 200%;'>111</video>


    <div class="col-50 video">
        <img src="images/docker-cover.jpg" alt="">
        <div class="video-mask"></div>
        <div class="play" data-video="video/docker.mp4">
            <img src="images/top-vd-btn.png" alt="">
        </div>
    </div>

</table>


</body>
</html>