<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Title</title>
</head>
<body>
<form id="formId" class="form-inline" accept-charset="UTF-8">
    <input type="hidden" name="id" th:value="${book.id}">
    <div class="form-group">
        <label>书籍名称</label>
        <br>
        <input type="text" class="form-control" name = "bname" th:value="${book.bname}" placeholder="书籍名称">
    </div>
    <div class="form-group">
        <label>价钱</label>
        <br>
        <input type="text" class="form-control" name = "price" th:value="${book.price}" placeholder="价钱">
    </div>
    <div class="form-group">
        <label>类型</label>
        <br>
        <input type="text" class="form-control" name = "btype" th:value="${book.btype}"   placeholder="类型">
    </div>
    <div class="form-group">
        <label>简介</label>
        <br>
        <input type="text" class="form-control" name = "bjianjie" th:value="${book.bjianjie}"  placeholder="简介">
    </div>
    <br>
</form>
</body>
</html>